body,html {
    height: 100%;
  }

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 
 .navbar {
    padding-left: 15px;
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
 }



 .card {
     width: 50vh;
     background-color:#5271FF ;
     opacity: .75;
     
 }

 .card-title  {
     color: white;
     font-size: 30px;
     font-weight: 700;
 }

  

 .card-img-top {
    width: auto;
    height: 10vw;
    object-fit: contain;
    
}

